[submodule "submodules/dmenu"]
	path = submodules/dmenu
	url = http://git.suckless.org/dmenu
	ignore = untracked
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "submodules/vim-clang"]
	path = submodules/vim-clang
	url = https://github.com/justmao945/vim-clang
