[submodule "submodules/dmenu"]
	path = submodules/dmenu
	url = http://git.suckless.org/dmenu
	ignore = untracked
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "submodules/vim-clang"]
	path = submodules/vim-clang
	url = https://github.com/justmao945/vim-clang
[submodule "submodules/vim-bitbake"]
	path = submodules/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake
[submodule "submodules/vim-rtags"]
	path = submodules/vim-rtags
	url = https://github.com/shaneharper/vim-rtags/
[submodule "submodules/universal-ctags"]
	path = submodules/universal-ctags
	url = https://github.com/universal-ctags/ctags
[submodule "submodules/YouCompleteMe"]
	path = submodules/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
